html{
 
}
body{
    font-family:monospace , 'Times New Roman', Times, serif;
    font-size:  1.8rem;
    line-height: 1.7rem;
    text-align: center;
    color: black;
    margin: 0;
}
h1{
    font-size: 4rem;
    margin-bottom: 0;
}
img{
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;

}
#img-div{
        background-color: silver;
        padding: 21px;
        margin: 31px;

}
#img-caption{
    margin: 25px 0 0px 0;
}
@media (max-width: 460px){
    #img-caption{
        font-size: 1.4rem;
    }
}


